<div class="row">

    <!-- <div class="col-lg-4 col-md-6 mb-4">
     <app-product></app-product>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
     <app-product></app-product>
    </div>
    
    <div class="col-lg-4 col-md-6 mb-4">
     <app-product></app-product>
    </div>
    
    <div class="col-lg-4 col-md-6 mb-4">
     <app-product></app-product>
    </div>
    
    <div class="col-lg-4 col-md-6 mb-4">
     <app-product></app-product>
    </div>
    
    <div class="col-lg-4 col-md-6 mb-4">
     <app-product></app-product>
    </div>
    
    <div class="col-lg-4 col-md-6 mb-4">
     <app-product></app-product>
    </div>
    
    <div class="col-lg-4 col-md-6 mb-4">
     <app-product></app-product>
    </div>
    
    <div class="col-lg-4 col-md-6 mb-4">
     <app-product></app-product> -->
     <div ngClass="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
     <div class="card h-100">
      <a href="#"><img class="card-img-top" [src]="product.img" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{product.name}}</a>
        </h4>
        <h5>${{product.price}}</h5>
        <!-- <p class="card-text">{{product.desc}}</p> -->
        <p class="card-text">{{product.status ? 'In stock': 'Out stock'}}</p>
      </div>
      <div class="card-footer">
       <!-- <button class="btn btn-primary" (click)="changeStatus()">Click me</button> -->
       <button class="btn btn-primary" (click)="removeItem(product.id)">Delete</button>
       <button (click)="showDetail(product)">Chi tiết</button>
     
     <!-- <input type="text"  (keyup)="changeName($event)"> -->
     <!-- <input  type="text"  [(ngModel)]="product.name"   class="form-control mt-3">  -->

      </div>
    </div>
    </div>
  </div>
  <div *ngIf="selected">
    <!-- <p *ngIf="selected" >{{selected.desc}}</p> -->
    <app-product [data]="selected"></app-product>
  </div>
 
  <!-- /.row -->
  