      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4">
         <app-product></app-product>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
         <app-product></app-product>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
         <app-product></app-product>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
         <app-product></app-product>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
         <app-product></app-product>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
         <app-product></app-product>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
         <app-product></app-product>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
         <app-product></app-product>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4">
         <app-product></app-product>
        </div>
      <!-- /.row -->
      